/*ARTICLE STYLES*/
.articles{
	display: block
}
.articles h3{
	 text-align: center;
	font-family: 'Black Ops One', cursive;
}
hr{
	border-width: 2px;
	border-color: lightgrey
}
/*FOOTER STYLES*/
footer{
	margin-top: 50px;
	background-color: lightgrey;
	width:100%;
	margin-bottom: 0px;
	bottom: 0%
}
footer h4{
	text-align: center;
	font-weight: bold;
	padding: 50px

}