<!-- DISPLAYING SOURCES MACRO -->
{% macro displaySourcesList(sources_list) %}
	{% for source in sources_list %}
		<div class="col-md-2" style="margin: 20px;border: 2px solid #ddd;background-color: lightgrey">	
				<a href="/source/{{source.id}}">
					<p class="text-center">{{source.name}}</p>
				</a>
		</div>
	{% endfor %}
{% endmacro %}

{% macro displayArticlesList(articles_list) %}
	{% for article in articles_list %}
		<div style="margin: 20px;border: 2px solid #ddd;background-color: #FEFBF7;border-radius: 4px;box-shadow: 0 0 25px #eee">
				<div class="row" style="padding: 5px">
					<div class="col-md-3" style="text-align: center">
						<img src="{{article.image}}" alt="{{article.title}}" width="250px" height="150px">
					</div>
					<div class="col-md-9">
						<a target="_blank" href="{{article.url}}">
							<h4>{{article.title}}</h4>
						</a>
						<p><small>{{article.date}}</small></p>
						<p>{{article.description | truncate(150)}}</p>
					</div>
				</div>
		</div>
	{% endfor %}
{% endmacro %}